<!--------------------->
<!--! Bloc annonce  -->
<!--------------------->

<div id="ann_content">
	
	<!--------------------------------->
	<!--! L'image de l'annonce  	 -->
	<!--! Multiple image a implenter -->
	<!--------------------------------->
	<div id="ann_img_box">
		<span id="tarif">Tarif : {% if annonce.price %}{{ annonce.price }} € {% else %} Inconnu {% endif %}</span>
		<div id="ann_img">
			<img src="{{ asset('bundles/uploads/img/') }}{{ annonce.image }}" id="picture" alt="Une image" />
		</div>
	</div>
	<div id="ann_box">
		<h1 id="titre">{{ annonce.title }}</h1>
		<span id="datetime">Ajouté le {{ annonce.date|date('d/m/y à H:i') }}</span>
		
		<p>{{ annonce.description }}</p>
	
	</div>
	
	<div class="clear"></div>
</div>