
<div class="accueil">
	
	<div id="post">
		<a href="{{ path('punnet_depot') }}" alt="" /><input type="button" class="button" name="" value="Déposer votre annonce" /></a>
	</div>
	
	<div id="acc_search">
		<input type="text" id="search"  placeholder="Moteur de recherche"/>
		<input type="text" id="postal" name="" placeholder="Code Postal" />
		<input type="submit" value="Rechercher" />
	</div>
	
	<div id="acc_box_left">
		<h2>Selectionnez une région:</h2>
		<ul class="region">
			{% for r in regions %}
			<li class="region"><a href="{{ path('punnet_showRegion', {'region' : r.slug }) }}" alt="" class="acc"/>- {{ r.region }}</a></li>
			{% endfor %}
			
			<div class="clear"></div>
		</ul>
	<a href="{{ path('punnet_showRegion', {'region' : 'all' }) }}" alt="" /><input type="button" value="Toutes les régions" ></a>
	</div>
	
	<div id="acc_box_right">
		<img src="{{ asset('bundles/punnetsite/images/carte.png') }}" class="carte" alt="Une image" />
	</div>
	
	<div class="clear"></div>
	
	<div id="sub">
		<div class="sub_box">
			<h2 class="sub-headtitle">Etape 1</h2>
			<h3 class="sub-title">Créer votre compte </h3>
			<p class="sub-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
			<input type="button" id="sub_etp1" value="Inscription"/>
		</div>
		
		<div class="sub_box">
			<h2 class="sub-headtitle">Etape 2</h2>
			<h3 class="sub-title">Poster votre annonce </h3>
			<p class="sub-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
			<input type="button" id="sub_etp2" value="Poster une annonce"/>
		</div>
		
		<div class="sub_box">
			<h2 class="sub-headtitle">Etape 3</h2>
			<h3 class="sub-title">Vender votre bien </h3>
			<p class="sub-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
			<input type="button" id="sub_etp3" value="C'est partit"/>
		</div>
		
		<div class="sub_box">
			<h2 class="sub-headtitle">Etape 4</h2>
			<h3 class="sub-title">Gérér votre boutique</h3>
			<p class="sub-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
			<input type="button" id="sub_etp4" value="Ma boutique"/>
		</div>
		
		<div class="clear"></div>
	</div>

</div>