{% trans_default_domain 'FOSUserBundle' %}
<div id="user">

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">

    
    <div class="registration_box">
    	
    	<h1 id="title">Inscription</h1>
		<h2 id="subtitle">Rejoignez nos membres</h2>
		
	    <label class="registration">Email</label>
	    {{ form_widget(form.email) }}
	    {% if form.email.vars.errors|length > 0 %}
	   	<div class="checked"><span class="false">Invalide</span></div>
	   	{% else  %}
	   	<div class="checked"><span class="true">Ok!</span></div>
	   	{% endif %}
	    <div class="reg_error">{{ form_errors(form.email) }}</div>
	    
	    <label class="registration">Username</label>
	    {{ form_widget(form.username) }}
		{% if form.username.vars.errors|length > 0 %}
	   	<div class="checked"><span class="false">Invalide</span></div>
	   	{% else  %}
	   	<div class="checked"><span class="true">Ok!</span></div>
	   	{% endif %}
	    <div class="reg_error">{{ form_errors(form.username) }}</div>
	
	    <label class="registration">Mot de passe</label>
	    {{ form_widget(form.plainPassword.first) }}
		{% if form.plainPassword.first.vars.errors|length > 0 %}
	   	<div class="checked"><span class="false">Invalide</span></div>
	   	{% else  %}
	   	<div class="checked"><span class="true">Ok!</span></div>
	   	{% endif %}
	    <div class="reg_error">{{ form_errors(form.plainPassword.first) }}</div>
	
	    <label class="registration">Comfirmation</label>
	    {{ form_widget(form.plainPassword.second) }}
		{% if form.plainPassword.first.vars.errors|length > 0 %}
	   	<div class="checked"><span class="false">Invalide</span></div>
	   	{% else  %}
	   	<div class="checked"><span class="true">Ok!</span></div>
	   	{% endif %}
	    <div class="reg_error">{{ form_errors(form.plainPassword.second) }}</div>
		
		{{ form_rest(form) }}
        <input type="submit" value="{{ 'registration.submit'|trans }}" class="sign_sub"/>
    </div>
    
    <div id="sub_registration_box">
    	<h3 id="subtitle_sub">Déja enregistré ?</h3>
    	<a href="{{ path('fos_user_security_login') }}" alt="" class="" /><input type="button" class="connect" name="" value="Connexion"/></a>
    </div>
</form>
</div>


