<div id="profile">
	
	{% for flashMessage in app.session.flashbag.get('notice') %}
		    <div class="flash-notice">
		        {{ flashMessage }}
		    </div>
		{% endfor %}

	{{ form_start(form) }}	
	<div id="profile_box">
		<h1 id="title">{% if add_annonce %} Ajouter {% else %} Modifier
		{% endif %} une annonce</h1>
		<h2 class="pfl_etape">1 - Votre compte</h2>
		
		<div id="profile_box_head">
		<div>
			<div class="checked"><span class="false">{{ form_errors(form.title) }}</span></div>
			<label class="profile">{{ form_label(form.title) }}</label>
			{{ form_widget(form.title) }}
		</div>
		
		<div>
			<div class="checked"><span class="false">{{ form_errors(form.description) }}</span></div>
			<label class="profile">{{ form_label(form.description) }}</label>
			{{ form_widget(form.description) }}
		</div>
		
		<div>
			<div class="checked"><span class="false">{{ form_errors(form.price) }}</span></div>
			<label class="profile">{{ form_label(form.price) }}</label>
			{{ form_widget(form.price) }}
		</div>
		
		</div>
		
		<h2 class="pfl_etape">2 - Catégorie</h2>

		<div id="profile_box_cat">
			<div>	
				<div class="checked"><span class="false">{{ form_errors(form.categorie) }}</span></div>
				<label class="profile">{{ form_label(form.categorie) }}</label>
			{{ form_widget(form.categorie) }}
			</div>
			
			<div>
			<div class="checked"><span class="false"></span></div>
				<label class="profile">Sous cat</label>
				<input type="text" class="depot" name="" />
			</div>
	</div>
		
		<h2 class="pfl_etape">3 - Votre localisation</h2>
		
		<div id="profile_box_content">
			<div>
				<div class="checked"><span class="false">{{ form_errors(form.region) }}</span></div>
				<label class="profile">{{ form_label(form.region) }}</label>
				{{ form_widget(form.region) }}
			</div>
			
			<div>
				<div class="checked"><span class="false">{{ form_errors(form.departement) }}</span></div>
				<label class="profile">{{ form_label(form.departement) }}</label>
				{{ form_widget(form.departement) }}
			</div>
			
			<div>
				<div class="checked"><span class="false">{{ form_errors(form.ville) }}</span></div>
				<label class="profile">{{ form_label(form.ville) }}</label>
				{{ form_widget(form.ville) }}
			</div>
			
		</div>
		
		<div>
			<input type="submit" value="Valider" />
		</div>
		
		{{ form_rest(form) }}
		
		{{ form_end(form) }}
</div>