<div id="region_menu">
	
	<div id="region_rep_id">
		<img src="{{ asset('bundles/punnetsite/images/carte-france.png') }}" class="avatar" alt="region Avatar" />
		<h4 id="region_ownername">{{ request_region }} </h4>
		<input type="button" class="button" value="S'abonner" />
	</div>
	
	<div id="region_menu_row">
			<ul class="row">
				<li class="row"><a href="{{ path('punnet_showRegion', { region: slug_region , order: 'dateDesc' }) }}" alt="" />Les plus récentes</a></li>
				<li class="row"><a href="{{ path('punnet_showRegion', { region: slug_region , order: 'dateAsc' }) }}" alt="" />Les plus anciennes</a></li>
				<li class="row"><a href="{{ path('punnet_showRegion', { region: slug_region , order: 'priceDesc' }) }}" alt="" />Les moins chères : +</a></li>
				<li class="row"><a href="{{ path('punnet_showRegion', { region: slug_region, order: 'priceAsc' }) }}" alt="" />Les plus chères : -</a></li>
			</ul>
		</div>
		
		<div class="center">
			<a href="{{ path('punnet_depot') }}" alt="" /><input type="button" id="new" value="Nouvelle annonce" /></a>
		</div>	
</div>