<div id="user_menu">

	<div id="user_rep_id">
		<a href="{{ path('punnet_showUserBord') }}" alt="Accueil du bord" />
			<img src="{{ asset('bundles/uploads/avatar/')}}{{ app.user.avatar }}" class="avatar" alt="User Avatar" />
		</a>
		<h4 id="user_ownername">{{ app.user.username }} </h4>
		<p class="profil"><a href="{{ path('fos_user_profile_edit') }}" alt="" class="link"/>Modifier mon profil</a></p>
	</div>
	
	<div id="owner_usr_menu">
			<ul class="row">
				<li class="row">
					<a href="{{ path('punnet_showUserAnnonce') }}" alt="" class="link"/>
					<img src="{{ asset('bundles/punnetsite/images/icones/Gear.png') }}" class="png_black" alt="Icones" />
					Mes annonces</a>
				</li>
				<li class="row">
					<a href="{{ path('punnet_showUserAnnonce') }}" alt="" class="link" />
					<img src="{{ asset('bundles/punnetsite/images/icones/E-Mail.png') }}" class="png_black" alt="Icones" />
					Ma Punnet Box</a>
				</li>
				<li class="row">
					<a href="{{ path('punnet_showUserAnnonce') }}" alt="" class="link"/>
					<img src="{{ asset('bundles/punnetsite/images/icones/RemoteDesktop.png') }}" class="png_black" alt="Icones" />
					Mes abonnements
					</a>
				</li>
				
				<li class="row">
					<a href="{{ path('punnet_showUserAnnonce') }}" alt="" class="link"/>
					<img src="{{ asset('bundles/punnetsite/images/icones/Gear.png') }}" class="png_black" alt="Icones" />
					Mes abonnés</a>
				</li>
				<li class="row">
					<a href="{{ path('punnet_showUserAnnonce') }}" alt="" class="link"/>
					<img src="{{ asset('bundles/punnetsite/images/icones/E-Mail.png') }}" class="png_black" alt="Icones" /> 
					Mon profil</a>
				</li>
				<li class="row">
					<a href="{{ path('punnet_showUserAnnonce') }}" alt="" class="link" />
					<img src="{{ asset('bundles/punnetsite/images/icones/RemoteDesktop.png') }}" class="png_black" alt="Icones" />
					Statistiques</a>
				</li>
			</ul>
		</div>
		
		<div class="center">
			<a href="{{ path('punnet_depot') }}" alt="" /><input type="button" id="new" value="Nouvelle annonce" /></a>
		</div>	
	
</div>