<div id="panel">
	{# Contenu du panel #}
	<div id="panel_content">
	
	<div id="pnl_ct_left_box">	{# Contenu de gauche #}
		<div id="pnl_ct_left">

			<h2 class="etape">Vos abonnements :</h2>
			
			{% if annonces %}
			{% for a in annonces %}
			<a href="{{ path('punnet_showAnnonce', {'annonce' : a.slug }) }}" alt="" />
			<div class="box-pnl-ann">
			
				<div class="box-pnl-ann-left">
					 <img src="{{ asset('bundles/uploads/img/') }}{{ a.image }}" class="pic" alt="Annonce image" />
					<h3 class="ann_title">
					<img src="{{ asset('bundles/uploads/avatar/') }}{{ a.user.avatar  }}" class="pic_owner" alt="{{ a.user.username }}" />
					{{ a.title }}</h3>
					<ul class="ann_desc">
						<li class="desc">{{ a.categorie.categorie }}</li>
						<li class="desc">
							Le {{ a.date|date('d/m/y à h:i') }}</li>
					</ul>
				</div>
				
				<div class="ann_options">
					<ul class="options">
						<li class="option"><span class="ann_price">{% if a.price %} {{ a.price }} € {% else %}Inconnu {% endif %}</span></li>
						<li class="option"><span class="ann_request"> <a href="{{ path('punnet_showAnnonce', {'annonce' : a.slug }) }}" alt="" class="interested"/>Interessé</a> </span></li>
					</ul>
				</div>
				
				<div class="clear"></div>
				
			</div>
		</a>
			{% endfor %}
			{% endif %}
			
			<div id="seemore">
				<span>
				{% if annonces is empty %} Vous n'avez ni abonnement ni annnonce, il est temps de s'y mettre ! {% else %} Afficher plus d'annonces ... {% endif %}
				</span>
			</div>
			
		</div>	
		
		<div id="box-pnl-stats">
				
				<div class="box-pnl-stat">
					<h2 class="etape">Vos abonnés :</h2>
					<h1 class="number">01</h1>
				</div>
				
				<div class="box-pnl-stat">
					<h2 class="etape">Ventes réussies :</h2>
					<h1 class="number">02</h1>
				</div>
			
			</div>
			
	</div>
		
		
		{# Contenu de droite #}
		<div id="pnl_ct_right">
			
			<h2 class="etape">Punnet Box :</h2>
			
			{# Pour ajouter un nouveau message sur sa box #}
			
				<div id="pnl-statut">
					<textarea id="statut" placeholder="Publier un nouveau message..."></textarea>
					<input type="submit" class="statut_sub" value="Publier" />
					<span id="carac-max">200 caractères maximum</span>
					
				</div>
			
			{# FIN DU " Pour ajouter un nouveau message sur sa box " FIN #}
					
				<div class="pnl-ct-right-box">
					<div class="pnl-ct-right-box-img">
						<img src="{{ asset('bundles/punnetsite/images/photo.jpg') }}" class="userpic" alt="region Avatar" />
					</div>
					<div class="pnl-ct-right-box-content">
						<div class="pnl-ct-right-box-content-head">
							<h3 class="username">Christophe Gautier</h3>
							<span class="date">Le 21/04/14 à 19h45mn</span>
						</div>

						<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
					</div>
					
				</div>
				
				<div class="pnl-ct-right-box">
					<div class="pnl-ct-right-box-img">
						<img src="{{ asset('bundles/punnetsite/images/photo.jpg') }}" class="userpic" alt="region Avatar" />
					</div>
					<div class="pnl-ct-right-box-content">
						<div class="pnl-ct-right-box-content-head">
							<h3 class="username">Christophe Gautier</h3>
							<span class="date">Le 21/04/14 à 19h45mn</span>
						</div>

						<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 										et dolore magna aliqua..</p>
					</div>
					
				</div>
				
				<div class="pnl-ct-right-box">
					<div class="pnl-ct-right-box-img">
						<img src="{{ asset('bundles/punnetsite/images/photo.jpg') }}" class="userpic" alt="region Avatar" />
					</div>
					<div class="pnl-ct-right-box-content">
						<div class="pnl-ct-right-box-content-head">
							<h3 class="username">Christophe Gautier</h3>
							<span class="date">Le 21/04/14 à 19h45mn</span>
						</div>

						<p class="text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
										aliquip ex ea commodo consequat.</p>
					</div>
					
				</div>
				
				<div class="pnl-ct-right-box">
					<div class="pnl-ct-right-box-img">
						<img src="{{ asset('bundles/punnetsite/images/photo.jpg') }}" class="userpic" alt="region Avatar" />
					</div>
					<div class="pnl-ct-right-box-content">
						<div class="pnl-ct-right-box-content-head">
							<h3 class="username">Christophe Gautier</h3>
							<span class="date">Le 21/04/14 à 19h45mn</span>
						</div>

						<p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore 										et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
										aliquip ex ea commodo consequat.</p>
					</div>
					
				</div>
				
						
		</div>
		
		<div class="clear"></div>
		
		{# Contenu du bas #}
		<div id="pnl_ct_bottom_box">
		
			{# Contenu du bas #}
			<div class="pnl_ct_bottom"></div>
			
			{# Contenu du bas #}
			<div class="pnl_ct_bottom"></div>
		</div>

	</div>
</div>
