{% block body %}
	<h3 class="tab_title">
		{% if annonce == NULL %}
		Il n'y a aucune annonce pour cette région actuellement, il est temps d'ajouter la premiere.
		{% else %}
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
		{% endif %}
	</h3>
	
	<div id="annonce_box_ctt">
		

		{% for a in annonce %}
		<a href="{{ path('punnet_showAnnonce', {'annonce' : a.slug }) }}" alt="" class="ann"/>
		<div class="annonce_box">
			<div class="ann_img">
				<img src="{{ asset('bundles/punnetsite/images/ferrari.jpeg') }}" class="ann" alt="Une image" />
			</div>
			<div class="ann_desc">
			<ul class="ann">
				<li class="title">{{ a.title }}</li>
				<li class="desc">Ville: {{ a.ville.ville }} ( 83 )</li>
				<li class="desc">Annonce du {{ a.date|date('d/m/y à h:i') }}</li>
			</ul>
			<span class="ann_request"><a href="{{ path('punnet_showAnnonce', {'annonce' : a.slug }) }}" class="show">Afficher</a></span>
			<span class="ann_price">{% if a.price %} {{ a.price }} € {% else %} Inconnu {% endif %}</span>
			</div>
		</div>
		</a>
		
		{% endfor %}
		
		{% if annonce != NULL %}
		<div id="pagination">Page suivante >></div>
		{% endif %}
		
		<div class="clear"></div>
	</div>
		
		
{% endblock %}